<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Votre Panier</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <h1>Votre Panier</h1>

  <!-- Affichage des messages flash -->
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class="flashes">
        {% for category, message in messages %}
          <li class="flash {{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {% if articles %}
    <table>
      <tr><th>Jeu</th><th>Quantité</th><th>Sous-total</th></tr>
      {% for art in articles %}
        <tr>
          <td>{{ art.Nom }}</td>
          <td>{{ art.quantite_panier }}</td>
          <td>{{ art.sous_total }}$</td>
        </tr>
      {% endfor %}
      <tr><td colspan="2"><strong>Total</strong></td><td>{{ total_panier }}$</td></tr>
    </table>
    <form action="{{ url_for('paiement') }}" method="post">
      <button type="submit">Payer</button>
    </form>
  {% else %}
    <p>Votre panier est vide.</p>
  {% endif %}

</body>
</html>
